.header {
   
    &__wrapper {
        display: grid;
        justify-content: space-between;
        grid-template-columns: minmax(150px, 200px) minmax(150px, 500px);
        grid-template-rows: minmax(60px, 1fr);
    }
    &__logo {
        width: 200px;
        height: 60px;
        &-img {
            display: none;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

}
.menu {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    
    &__link {
        height: 20px;
        padding: 0px 20px;
        text-decoration: none;
        line-height: 22px;
        font-size: 12px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $color-basic;
    }
    a {
        transition: all 0.6s;
        &:hover {
            color: $color-basic;
            text-decoration: none;
            scale: 1.1;
        }
    }
    .basket {
        display: flex;
        border-left: 1px dashed rgba($color: #555, $alpha: .3) ;
        img {
            margin-right: 10px;
            display: block;
            width: 20px;
            height: 20px;
        }
    }
        
}
